In [1]:
num = 30
if(num > 40):
    print('ok')

In [2]:
if num > 40:
    print('ok')
else:
    print('not ok')

not ok

In [6]:
# program to check number is positive or negative
num = int(input())
if(num < 0):
    print('negative')
elif(num == 0):
    print('zero')
else:
    print('positive')

0
zero

In [9]:
#check if number is even or odd

num = int(input('Enter the number '))
if(num%2 == 0):
    print('Even')
else:
    print('odd')

Enter the number 7
odd

In [13]:
#check if the number is in between 50 and 100
num = int(input('Enter the number'))
if(num>=50 and num<=100):
    print('yes, between 50 and 100')
else:
    print('Not between 50 and 100')

Enter the number60
yes, between 50 and 100

In [14]:
#check if the number is in between 50 and 100

if(num>= 50):
    if(num<=100):
        print('yes')
    else:
        print('no')
else:
    print('no')

yes

In [17]:
#take three user input find out which is greater
num1 = int(input('enter number 1 '))
num2 = int(input('enter number 2 '))
num3 = int(input('enter number 3 '))

if(num1>num2 and num1>num3):
    print('greater = ', num1)
elif(num2>num1 and num2>num3):
    print('greater = ', num2)
else:
    print('greater = ', num3)

enter number 1 145
enter number 2 8
enter number 3 2
greater =  145

In [25]:
#leap year if year is divisible by 4 and century year should be divided by 400

year = int(input('Enter the year'))

if(year%100 == 0):
    if(year%400==0):
        print('leap year')
    else:
        print('century but not leap year')
else:
    if(year%4==0):
        print('leap year')
    else:
        print('not leap year')

Enter the year1800
century but not leap year

In [31]:
#menu driven

'''
1. square
2. cube
3. positive or negative
'''

num = int(input('Enter the number '))
print('MENU\n1. square\n2. cube\n3. positive or negative\n4. odd or even')

ch = int(input('Enter your choice '))
if(ch == 1):
    print('Square is', num*num)
elif(ch == 2):
    print('cube is ', num**3)
elif(ch == 3):
    if num > 0:
        print('positive')
    else:
        print('negative')
elif(ch == 4):
        if(num%2 == 0):
            print(num, ' is even')
        else:
            print(num, ' is odd')
else:
    print('Invalid choise')

Enter the number5
MENU
1. square
2. cube
3. positive or negative
4. odd or even
Enter your choice 4
5  is odd

# while loop

In [34]:
count = 1
while count < 10:
    print('ParaSankalp', end ="-")
    count+=1

ParaSankalp
ParaSankalp
ParaSankalp
ParaSankalp
ParaSankalp
ParaSankalp
ParaSankalp
ParaSankalp
ParaSankalp

In [36]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [39]:
#addition of number from 1 to 10
sum = 0
i = 1
while i <= 10:
    sum += i
    print(i, end='+ ')
    i+=1;
print('=', sum)

1+ 2+ 3+ 4+ 5+ 6+ 7+ 8+ 9+ 10+ = 55

In [41]:
sum = 0
i = 1
while(i < 20):
    sum += i
    i += 2
print(sum)

100

In [45]:
num = int(input('Enter the number'))
add = 0

while num:
    dig = int(num%10)
    add += dig
    num = num//10
print(add)

Enter the number12345
15

## For Loop

In [46]:
for n in 34, 56, 78, 43,22:
    print(n)

34
56
78
43
22

In [47]:
#range function
list (range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list (range(1,10,2))
#range(starting num,  excluding last num, increase by)

[1, 3, 5, 7, 9]

In [52]:
list (range(10))
#range(last Number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [51]:
for n in range(10):
    print("Paras")

Paras
Paras
Paras
Paras
Paras
Paras
Paras
Paras
Paras
Paras

In [53]:
sum = 0
for i in range(1,11):
    sum += i
print(sum)

55

In [54]:
#break

for x in range(10):
    if x == 5:
        break
    print(x)

0
1
2
3
4

In [55]:
#continue
for x in range(10):
    if x == 5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9