In [5]:
class Employee():
    pass

In [6]:
#creating objects
emp1 = Employee()    #instance of a class
emp2 = Employee()

In [7]:
print(emp1)

<__main__.Employee object at 0x0000029543752160>

In [8]:
print(emp2)

<__main__.Employee object at 0x0000029543665370>

In [13]:
#attributes 
emp1.first = 'paras'   #instance variable
emp1.last = 'wane'
emp1.salary = 20000

In [11]:
emp2.first = 'sankalp'
emp2.last = 'kambple'
emp2.salary = 500000

In [12]:
print(emp2.salary)

500000

In [14]:
print(emp1.last)

wane

In [44]:
class Employee():
    def __init__(self,first, last, salary):    #__init__ act as initializer(constructor), means it will execute as soon as object of class is instatiated 
        self.first = first                     #self is same as this key word in other lang.
        self.last = last
        self.salary = salary
    def msg(self):
        print(self.first + ' ' + 'ok')
    def info(self):
        print(f"Full name of employee is {self.first} {self.last}  \n salary = {self.salary}")

In [45]:
emp1 = Employee('Paras', 'wane', 52000)
emp2 = Employee('Sankalp', 'Kamble', 980000)

In [46]:
print(emp2.last)

Kamble

In [47]:
emp1.msg()

Paras ok

In [48]:
emp2.info()

Full name of employee is Sankalp Kamble
 salary = 980000

## Encapsulation

In [51]:
## making public variable private using __
class Employee():
    def __init__(self,first, last, salary):     
        self.first = first                     
        self.last = last
        self.__salary = salary     # by writing  __ in front of attribute it becomes private variable

In [52]:
emp1 = Employee('Paras', 'wane', 52000)
emp2 = Employee('Sankalp', 'Kamble', 980000)

In [53]:
print(emp2.salary)  # gives an error

AttributeError: 'Employee' object has no attribute 'salary'

In [54]:
print(emp2.first)

Sankalp

# Inheritance

In [55]:
class Employee2(Employee):    
    pass

In [56]:
emp3 = Employee2('Ram', 'Ghate', 10000)

In [57]:
emp3.first  # we can access attributes of parent class here

'Ram'